<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>

<body>

    <div id="sidebar">
        <img src="~/img/" alt="userphoto" class="userphoto" />
        <span id="username">User</span>
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="Login">Log in</a></li>
            <li><a asp-controller="App" asp-action="Signin">Sign in</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">MyTube mini</a>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>

        <div id="footer" class="container-fluid">
            <h5 class="text-primary">&copy; 2017 com.mytube.mini.web</h5>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>

    @RenderSection("scripts", false)


</body>
</html>