@model IEnumerable<com.mytube.mini.core.Entities.Video>
@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<h1>Hello my tube!!</h1>
<p>This will be a fun website soon</p>

<form>
    <h5>Sort by date/popularity</h5>
    <ul>
        @*@foreach (var item in Model)
            {
                <li>@item.Name : @item.CreatedDate.ToString("d")</li>
            }*@
    </ul>
</form>