@model com.mytube.mini.web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section scripts{
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}


<div class="row ">
    <div class="col-md-6 offset-3">
        <h4>Log in Page</h4>

        <form method="post">
            <div asp-validation-summary="ModelOnly">
                @if (ViewBag.UserMessage != null)
                {
                    <div>@ViewBag.UserMessage</div>
                }
            </div>
            <span asp-validation-summary="ModelOnly"></span>

            <div class="form-group">
                <label asp-for="Login">Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-muted"></span>
            </div>

            <div>
                <a asp-controller="App" asp-action="Index" class="btn btn-default btn-lg">Cancel</a>
                <input type="submit" value="Log In" class="btn btn-warning btn-lg" />
            </div>
        </form>
    </div>
</div>