<!--content page-->

<div id="wrapper">
    <nav class="navbar navbar-inverse">
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button id="sidebarToggle" class="btn btn-primary">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </li>
            </ul>
            <a class="navbar-brand">MyTube mini</a>
        </div>
    </nav>
    <div id="main" class="container-fluid">
        <!--<div>
            @RenderBody()
        </div>-->
    </div>
</div>